<title>Home Control</title>
<meta name="viewport" content="width = device-width" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    body,
    html {
        margin: 0;
        padding: 0;
        user-select: none;
        font: 18px sans-serif;
    }
    .cards {
        padding: 5px;
    }
    .device {
        touch-action: none;
        position: relative;
        border-radius: 5px;
        text-align: center;
        padding: 0.5em;
        margin: 2px;
        overflow: hidden;
        background: grey;
    }
    .device.on {
        background: green;
    }
    .allOff {
        background: lightcoral;
        width: 25%;
    }

    .brightnessControl {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: row;
    }
    .brightnessControl .control {
        width: 15%;
        padding: 0.5em;
    }
    .brightnessControl .indicator {
        /* pointer-events: none; */
        flex-grow: 1;
        position: relative;
    }
    .brightnessControl .innerIndicator {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: lightgray;
    }
    .on .brightnessControl .innerIndicator {
        background: lightgray;
    }

    .deviceName {
        position: relative;
        /* z-index: 1; */
        pointer-events: none;
    }
</style>
<div id="app">
    <p v-if="!connected">Not Connected...</p>
    <div class="cards vbox">
        <div class="header hbox">
            <div class="device allOff" v-on:click="allOff()">All Off</div>
        </div>
        <div
            v-for="device in devices"
            v-bind:key="device.id"
            v-on:click="toggle(device)"
            :class="{device: true, on: device.on}"
        >
            <div v-if="device.brightness >= 0" class="brightnessControl">
                <div class="control" v-on:click="brightnessDown(device, $event)">-</div>
                <div class="indicator">
                    <div
                        class="innerIndicator"
                        v-bind:style="{width: (100 - device.brightness / 255 * 100) + '%'}"
                    ></div>
                </div>
                <div class="control" v-on:click="brightnessUp(device, $event)">+</div>
            </div>
            <div class="deviceName">{{ device.name }}</div>
        </div>
    </div>
</div>
<script>
    const host = location.protocol.startsWith("file") ? "localhost:8080" : location.host
    const wsUrl = "ws://" + host + "/ws-api"
    let ws = null

    function send(msg) {
        if (!ws) return
        ws.send(JSON.stringify(msg))
    }

    function sendBrightness(device) {
        device.on = device.brightness > 0
        send([{ id: device.id, on: device.on, brightness: device.brightness }])
    }

    const app = new Vue({
        el: "#app",
        data: {
            connected: false,
            devices: []
        },
        methods: {
            toggle: device => {
                device.on = !device.on
                send([{ id: device.id, on: device.on }])
            },
            brightnessDown: (device, event) => {
                device.brightness = Math.max(0, device.brightness - 25)
                sendBrightness(device)
                event.stopPropagation()
            },
            brightnessUp: (device, event) => {
                device.brightness = Math.min(255, device.brightness + 25)
                sendBrightness(device)
                event.stopPropagation()
            },
            allOff: () => {
                send(app.devices.map(d => ({ id: d.id, on: false })))
                app.devices.forEach(d => (d.on = false))
            }
        }
    })

    function reconnect() {
        if (ws) return

        let first = true
        ws = new WebSocket(wsUrl)
        ws.onopen = () => {
            app.connected = true
        }
        ws.onclose = () => {
            let first = true
            app.connected = false
            ws = null
        }
        ws.onerror = event => {
            let first = true
            console.log(event)
            app.connected = false
            ws = null
        }
        ws.onmessage = event => {
            const msg = JSON.parse(event.data)
            if (msg.error) return console.log("error:", msg.error)

            if (first) {
                first = false
                app.devices.length = 0
                msg.forEach(d => {
                    if (!d.id) return
                    if (d.on === undefined) return
                    if (!d.name) return
                    if (d.name.toLowerCase().indexOf("light") < 0) return
                    console.log(d)
                    app.devices.push(d)
                })
            } else {
                msg.forEach(u => {
                    const device = app.devices.find(d => d.id === u.id)
                    if (!device) return
                    Object.keys(u).forEach(key => {
                        if (key === "id") return
                        console.log("update:", device.id, key, u[key], "old:", device[key])
                        device[key] = u[key]
                    })
                })
            }
        }
    }

    setInterval(reconnect, 5000)
    setTimeout(reconnect)
</script>
